name: CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  prek:
    name: Prek
    runs-on: ubuntu-latest
    steps:
      - name: Setup cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.cache/prek
          key: prek-v1|${{ runner.os }}|${{ runner.arch }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - uses: actions/checkout@v6
      - name: Install prek
        run: |
          mkdir -p ~/.local/bin
          curl -fsSL https://github.com/j178/prek/releases/download/v0.3.0/prek-x86_64-unknown-linux-gnu.tar.gz | tar -xz -C ~/.local/bin --strip-components=1
      - name: Run prek
        run: ~/.local/bin/prek run --all-files --show-diff-on-failure --color=always
      - name: Prune prek cache
        run: ~/.local/bin/prek cache gc -v || echo "Failed to prune prek cache"
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.11'
      - run: uv run pytest -vv --durations=10 -rA
